
<div class="row" id="input">

  <span class="count">{{counter}}</span>
  <form action="/greeting" method="POST">
    <div class="four columns">
      <b>Name:</b> <input type="text" name="inputName" class="Name">
    </div>
</div>
<div class="row" id="language">
  <div class="twelve columns">

    <input type="radio" name="language" class="language" value='English'> English
    <input type="radio" name="language" class="language" value='Afrikaans'> Afrikaans
    <input type="radio" name="language" class="language" value='Isixhosa'> Isixhosa
  </div>
</div>
<div class="row" id="greetMeBtn">
  <div class="three columns">
    <input type="submit" name="greetMe" value="Greet me" class="greetMeBtn">
  </div>
  <div class="one columns">
    <a href="/reset"><input type="button" name= "Reset"value="Reset" class="Reset"> </a>
  </div>
</div>

   <div class="entryOne">
      <span class="">{{messages.entryOne}}</span>
  </div>
  <div class="entryTwo">
      <span class=""> {{messages.entryTwo}}</span>
  </div>
  <div class="entryThree">
      <span class=""> {{messages.entryThree}}</span>
  </div>
</form>

<div class="greeting">{{greets}}</div>
